.nav-bar{
    width: 100vw;
    height: 5rem;
    background-color: blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.left-side{
    padding-left: 2rem;
    display: flex;
    flex-direction: row;
   justify-content: space-between;
}
.search-input{
    height: 2rem;
    width: 25rem;
    border-radius: 0.5rem;
    border-color: transparent;
}
.search-btn{
    height: 2.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    border-color: transparent;
    
}
.search-btn:hover{
    background-color: green;
    color: white;
}
.div-serach-btn{
    padding-left: 0.1rem;
}
.right-side{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 2rem;
}
.leftSide-link{
    margin-right: 2rem;
   font-size: 1.2rem;
}
.rightSide-link{
    margin-right: 2rem;
   font-size: 1.2rem;
}
.new-user-link{
    text-decoration: none;
    color: white;
}
.new-user-link:hover{
    color: aliceblue;
}
.old-user-link{
    text-decoration: none;
    color: white;
}
.old-user-link:hover{
    color: aliceblue;
}
.navBar-logIn{
    display: flex;
    flex-direction: row;
    align-items: center;
   margin-left: auto;
   margin-right: 2rem;
}
.reglogIn{
    display: none;
}
.openOption{
    display: none;
}

#logInAndRegButton{
    display: flex;
   }
   #hidden{
    display: flex;
   }
@media only screen and (max-width:500px){
    .nav-bar{
        flex-direction: row;
        font-size: 1rem;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .left-side{
        height: 2rem;
        width: 5rem;
        border-radius: 0.5rem;
        border-color: transparent;
        margin-right: auto;
    }
    .search-input{
        width: 13rem;
    }
    #logInAndRegButton{
        position: absolute;
        left: 10px;
        top: 80px;
        height: 15px;
        width: 15rem;
        background-color: blue;
        color: white;
        flex-direction: column;
        padding-bottom: 10rem;
     }
     #hidden{
        position: absolute;
        left: 10px;
        top: 80px;
        height: 15px;
        width: 15rem;
        background-color: blue;
        color: white;
        flex-direction: column;
        padding-bottom: 10rem;
     }
     .reglogIn{
        display: flex;
        height: 2.3rem;
        margin-top: 0.5rem;
        justify-items: center;
        align-items: center;
       margin-left: auto;
       margin-right: 1rem;
        border: none;
        border-radius: 00.5rem;
        color: white;
    }
    .openOption{
        display: flex;
        height: 2.3rem;
        margin-top: 0.5rem;
        justify-items: center;
        align-items: center;
       margin-left: auto;
       margin-right: 1rem;
        border: none;
       color: white;
     }
      .navBar-logIn{
        display: none;
      }
      .right-side{
        display: none;
      }

    }
.user-log{
    margin-left: auto;
    margin-right: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
 
}

.name-user{
    padding-right: 1rem;
    font-size: 1rem;
}

.resume-user{
    padding-right: 1rem;
    font-size: 1rem;

}
.logOut-user{
    padding-left: 1rem;
    font-size: 1rem;
}

     .username-link{
        text-decoration: none;
        color: aliceblue;
     }
     .username-link:hover{
        color: aliceblue;
     }
     .resume-link{
        text-decoration: none;
        color: aliceblue;
     }
     .resume-link:hover{
        color: aliceblue;
     }
     .logout-link{
        text-decoration: none;
        color: aliceblue;  
     }
     .logout-link:hover{
        color: aliceblue;
     }
  
    